footer.footer 
  .container 
    .footer-wrapper 
      .footer-header.flex.items-center 
        a(href="#").footer-logo 
          img(src="./assets/images/logo-footer.png", alt="")
        h3.footer-quote.crimson-text-font
          |Based in Utah, USA, Wanderland is a blog by Markus
          span.hightlight-text.crimson-text-font
            include ../components/mask-bg.pug
            |Thompson
          |. His posts explore outdoor experiences through photos and diaries with tips & tricks.


      .footer-main.flex.flex-wrap.justify-between
        .main-item 
          h6.footer-title ABOUT THE BLOG
          p.mulish-font Lorem ipsum dolor sit amet, conse ctetur adipisicing elit, sed do eiusmod mas.

        .main-item 
          h6.footer-title SUBSCRIBE TO NEWSLETTER
          form.footer-contact(action="#") 
            .form-group 
              .form-item 
                input(type="text" placeholder="Your name...")
            .form-group 
              .form-item 
                input(type="text" placeholder="Your e-mail...")
            .form-group 
              .form-item 
                include ../components/button.pug
                +Button({ link: '#', title: 'Subscribe', icon: './assets/icons/icon-arrow-45.svg', className: 'default', isHover: true })

        .main-item 
          h6.footer-title RECENT NEWS
          ul.footer-lists 
            li 
              a(href="blog-detail.html").footer-link.flex.items-start
                img(src="./assets/icons/icon-calendar-gray.svg", alt="")
                span.text-wrapper
                  span.crimson-text-font October 2, 2019
                  span.link-text.mulish-font Trip to Iceland
            li 
              a(href="blog-detail.html").footer-link.flex.items-start
                img(src="./assets/icons/icon-calendar-gray.svg", alt="")
                span.text-wrapper
                  span.crimson-text-font October 2, 2019
                  span.link-text.mulish-font On the Shores of a Vanishing Island in India
            li 
              a(href="blog-detail.html").footer-link.flex.items-start
                img(src="./assets/icons/icon-calendar-gray.svg", alt="")
                span.text-wrapper
                  span.crimson-text-font October 2, 2019
                  span.link-text.mulish-font Visiting Rabat

        .main-item 
          h6.footer-title INSTAGRAM FEED
          ul.footer-lists-image.flex.flex-wrap.justify-between
            each item in [1,2,3,4,5,6]
              li 
                a(href="#").footer-link
                  span.link-overlay.flex.items-center.justify-center
                    img(src="./assets/icons/icon-camera-white.svg", alt="")
                  img(src=`./assets/images/image-footer-${item}.jpeg`, alt="").link-image

  .footer-bottom
    .container 
      .footer-wrapper.flex.justify-between.items-center 
        .footer-item 
          .footer-socials-list.flex.items-center 
            span.crimson-text-font Socials
            include ../components/social-links.pug

        .footer-item 
          p.mulish-font © #[span#yearOfCopyRight.mulish-font 2021] Qode Interactive, All Rights Reserved
