doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Gulp Template

    link(rel="icon" type="image/png" href="./assets/images/favicon.png")

    //- Style CSS
    link(rel="stylesheet" type="text/css" href="./assets/css/main.css")

    block head

  body.body-authen.active
    include ../components/authen-sidebar.pug
    include header-authen.pug
    block pages


    //- jQuery
    script(src="./assets/js/jquery.min.js") 

    //- Bootstrap JS
    script(src="./assets/js/popper.min.js") 
    script(src="./assets/js/bootstrap.min.js") 

    //- CkEditor
    script(src="./assets/js/ckeditor/ckeditor.js") 

    block scripts

    //- Java Script
    script(src="./assets/js/main.js")

