@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap');

.oswald-font {
  font-family: 'Oswald', sans-serif !important;
}
.crimson-text-font {
  font-family: 'Crimson Text', serif !important;
}
.mulish-font {
  font-family: 'Mulish', sans-serif !important;
}