.section-about-page {
  padding: 30px 0;
  .about-me {
    padding: 30px 0;
    &.flex-row-reverse {
      @media (max-width: 768px) {
        flex-direction: row;
      }
    }
    .about-item {
      flex: 0 0 50%;
      max-width: 50%;
      margin-bottom: 15px;
      @media (max-width: 768px) {
        flex: 0 0 100%;
        max-width: 100%;
      }
      &.custom-style-content {
        padding: 0 30px;
        @media (max-width: 768px) {
          padding: 0 0 30px 0;
        }
      }
      img {
        width: 100%;
      }
      p {
        margin-bottom: 10px;
      }
      .button-component {
        margin-top: 30px;
      }
    }
  }
}