.category-sidebar {
  @media (max-width: 991px) {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    overflow: auto;
    background: $white;
    width: 320px;
    z-index: 40;
    padding: 60px 30px;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.3);
    transform: translateX(-100%);
    transition: 0.3s ease;
    &.active {
      transform: translateX(0);
    }
  }
  .category-close {
    display: none;
    @media (max-width: 991px) {
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      top: 15px;
      right: 15px;
      z-index: 52;
      cursor: pointer;
    }
  }
  .sidebar-image {
    margin-bottom: 30px;
    max-width: 400px;
    img {
      width: 100%;
    }
  }

  p {
    font-size: 16px;
    color: $gray;
    font-family: 'Muli', sans-serif;
    margin-bottom: 10px;
  }

  .sidebar-title,
  .sidebar-subtitle {
    text-transform: uppercase;
    color: $text-black;
    margin: 25px 0 15px;
  }

  .sidebar-title {
    font-size: 28px;
  }
  .sidebar-subtitle {
    font-size: 20px;
  }

  .footer-socials-list {
    svg {
      margin-left: 0;
      margin-right: 10px;
    }
  }

  .sidebar-list-tags,
  .sidebar-lists {
    .list-item {
      margin-bottom: 8px;
      a {
        font-family: 'Crimson Text', serif;
        font-size: 18px;
        font-style: italic;
        transition: 0.3s ease;
        position: relative;
        color: $gray;
        &:hover {
          color: $primary;
          &::before {
            width: 100%;
          }
        }
        &::before {
          position: absolute; 
          content: '';
          bottom: 0;
          left: 0;
          width: 0%;
          height: 1px;
          background: $primary;
          transition: 0.3s ease;
        }
      }
      span {
        padding: 0 5px;
        color: $gray;
      }
    }
  }
}