#modalDelete {
  .modal-delete-wrapper {
    .modal-title,
    .modal-des {
      font-family: 'Mulish', sans-serif;
      text-align: center;
    }

    .modal-title {
      font-size: 22px;
    }
    .modal-des {
      margin: 10px 0 20px;
    }

    .modal-btn-group {
      margin-bottom: 10px;
      .button-component {
        margin: 0 10px;
        width: 120px;
      }
    }
  }
}