$white: #fff;
$black: #000;

$primary: #59815b;
$primary-transparent: #ecebe1;
$secondary: #f7e3c2;

$text-black: #1e1e1e;
$main: #F0F3F8;

$gray: #878787;
$brown-light: #F0EFE7;

$border-light: rgba(231, 231, 231, 0.45);
$border: #e1e1e1;

$success: #2ecc71;
$success-transparent: rgba(46, 204, 113, 0.1);
$error: #e74c3c;
$error-transparent: rgba(231, 76, 60, 0.1);
$warning: #EFC345;

$pink: #E07CC7;
$purple: #575BB5;
$blue-sky: #76ABF9;
$green: #1abc9c;
$orange: #e67e22;