$white: #fff;
$black: #000;

$primary: #59815b;
$primary-transparent: #ecebe1;
$text-black: #1e1e1e;
$gray: #878787;
$brown-light: #F0EFE7;

$border-light: rgba(231, 231, 231, 0.45);
$border: #e1e1e1;