extends includes/layout/layout.pug
block pages
  section.section-index
    include includes/pages/section-home-banner.pug
    .section-bg-page(style="margin-top: 510px;")
      include includes/pages/section-header.pug
      include includes/pages/section-introduction.pug
      include includes/pages/section-feature-post.pug
      include includes/pages/section-category-count.pug
      include includes/pages/section-horizontal-post.pug
      include includes/pages/section-contact.pug
