-
  const dataCategorySidebar = [
    { link: 'category.html', title: 'Adventure' },
    { link: 'category.html', title: 'Camping' },
    { link: 'category.html', title: 'Cities' },
    { link: 'category.html', title: 'Destinations' },
    { link: 'category.html', title: 'Explore' },
    { link: 'category.html', title: 'How to' },
    { link: 'category.html', title: 'National parks' },
    { link: 'category.html', title: 'Road trip' },
    { link: 'category.html', title: 'Routs' },
    { link: 'category.html', title: 'Tips' },
    { link: 'category.html', title: 'Travel guide' },
    { link: 'category.html', title: 'Travel tips' },
    { link: 'category.html', title: 'Trips' },
    { link: 'category.html', title: 'Vacation' },
    { link: 'category.html', title: 'Visiting' },
  ]

  const dataTagsSidebar = [
    { link: 'category.html', title: 'Adventure' },
    { link: 'category.html', title: 'Destinations' },
    { link: 'category.html', title: 'Explore' },
    { link: 'category.html', title: 'Guides' },
    { link: 'category.html', title: 'Nature' },
    { link: 'category.html', title: 'Travel' },
    { link: 'category.html', title: 'Tips' }
  ]

.category-sidebar
  img(src="./assets/icons/icon-close-green.svg", alt="").category-close
  .sidebar-image.target-tilt
    img(src="./assets/images/image-sidebar-avatar.png", alt="")

  h5.sidebar-title WANDERLUST BLOG
  p Lorem ipsum dolor sit amet, consectetur adipi

  h6.sidebar-subtitle CATEGORIES
  ul.sidebar-lists
    each item in dataCategorySidebar 
      li.list-item 
        a(href=`${item.link}`)= item.title

  h6.sidebar-subtitle INSTAGRAM
  ul.footer-lists-image.flex.flex-wrap.justify-between
    each item in [1,2,3,4,5,6]
      li 
        a(href="#").footer-link
          span.link-overlay.flex.items-center.justify-center
            img(src="./assets/icons/icon-camera-white.svg", alt="")
          img(src=`./assets/images/image-footer-${item}.jpeg`, alt="").link-image

  h6.sidebar-subtitle Newsletter
  form(action="#").custom-style-form
    .form-group.single
      .form-item 
        input(type="text" placeholder="Enter Your e-mail address..").border-gray
    .form-group 
      .form-item
        include ../components/button.pug
        +Button({ link: '#', title: 'Subscribe', icon: './assets/icons/icon-arrow-45-white.svg', className: 'primary', isHover: true })

  .sidebar-image.target-tilt
    img(src="./assets/images/image-sidebar.jpeg", alt="")

  h6.sidebar-subtitle Tags
  ul.sidebar-list-tags.flex.flex-wrap
    each item, index in dataTagsSidebar
      li.list-item
        a(href=`${item.link}`)= item.title
        if (index !== dataTagsSidebar.length - 1)
          span /

  h6.sidebar-subtitle Follow 
  .footer-socials-list.flex.items-center 
    include social-links.pug


      

  

