.modal.fade#modalPreview(tabindex="-1" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-body
        .modal-preview-wrapper 
          img(src="./assets/images/image-blog-1.jpeg", alt="")