section.section-home-banner 
    .section-wrapper
      .section-slider-item
        .item-bg
          img(src="./assets/images/bg-banner-home.jpeg", alt="")
        .container 
          .slider-wrapper.flex.items-center
            .section-item
            .section-item 
              h1.item-title Camping guides for your next adventure 
              include ../components/button.pug
              +Button({ title: 'Read More', icon: './assets/icons/icon-arrow-45-white.svg', className: 'primary', isHover: true })